@import './style';

section {
    padding: 5em 5em;
}

.hero {
    align-content: center;
    //text-align: center;
    padding: 2em 3em;
    width: 40em;
    margin: 2em auto 5em auto;
    background: rgba(144, 238, 144, .6);
    border-radius: 1em;


    .container1{
        place-content: space-between;
        display: block;
    }
}

.left-col {
    align-self: center;
    .subhead {
        text-align: center;
        text-transform: uppercase;
        font-weight: 1000;
        color: black;
        font-size: 3em;
    }
}

form {
    padding-left: 2em;
    display: grid;
    grid-template-columns: auto auto;

}

.old {
    text-align: left;
}

.new {
    text-align: left;
}

input {
    width: 80%;
    padding: .8em;
    margin-bottom: 1em;
    border-radius: .3em;
    border: 1px solid gray;
    box-sizing: border-box;
}

input[type="submit"] {
    grid-column: auto / span 2;
    background-color:gray;
    color: white;
    font-weight: bold;
    font-size: 1.3em;
    margin-left: 100px;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-right: 150px;
    border-radius: 5em;
    display: inline-block;
    padding: .8em 2em;
    width: unset;
    cursor: pointer;

    &:hover {
        background: black;
    }
}