@import './style';

section {
    padding: 5em 5em;
}

.hero {
    align-content: center;
    text-align: center;
    padding: 2em 3em;
    width: 20em;
    margin: 2em auto 5em auto;


    .container1{
        place-content: space-between;
        display: block;
    }
}

ul.options {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 1.6em;
    width: 100%;

    li {
        margin-top: 1em;
        padding: 0;
        width: 100%;
        a {

            background: #5cc9fc;
            border: 2px solid black;
            text-decoration: none;
            color: black;
            display: block;
            padding-top: .3em;
            padding-bottom: .3em;
            border-bottom: 3px solid black;
            border-right: 3px solid black;
            border-radius: 30px;

            &:hover {
                //font-size: 1.1em;
                font-weight: bold;
            }
        }
    }
}

.left-col {
    align-self: center;
    .subhead {
        text-transform: uppercase;
        font-weight: 1000;
        color: black;
        font-size: 3em;
    }

    


}

