html {
  min-height: 100%;
  background-image: url(../Images/background-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

body {
  margin: 0;
}

.navbar {
  background: white;
  padding: 1em;
}

.navbar .logo {
  text-decoration: none;
  font-weight: bold;
  color: black;
  cursor: default;
}

.navbar .logo span {
  color: #0404a7;
  font-size: 2.2em;
}

.navbar-nav {
  display: none;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.mobile-menu {
  padding-left: 1em;
  cursor: pointer;
}

nav.menu-btn {
  display: block;
}

.navbar-nav {
  position: fixed;
  z-index: 999;
  width: 30%;
  right: 0;
  top: 0;
  background: #90EE90;
  height: 100vh;
  padding: 1em;
  border: 1px solid gray;
}

.navbar-nav ul.primary-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 2em;
}

.navbar-nav li a {
  color: black;
  text-decoration: none;
  display: block;
  padding: .5em;
  font-size: 1em;
  text-align: right;
}

.navbar-nav li:hover {
  font-weight: bold;
}

.mobile-menu-exit {
  width: 1em;
  float: right;
  margin: .5em;
  cursor: pointer;
}

.mobile-menu-exit:hover {
  width: 1.3em;
}

@media (min-width: 1145px) {
  .mobile-menu, .mobile-menu-exit {
    display: none;
  }
  .navbar .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 600px auto;
        grid-template-columns: 600px auto;
  }
  .navbar nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
    border: white;
  }
  .navbar nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar nav a {
    color: black;
    font-size: 1.3em;
    padding: .1em 1em;
  }
  .navbar nav ul.primary-nav {
    margin: 0;
  }
  .navbar nav li.current a {
    font-weight: bold;
  }
  .navbar nav li.current a:hover {
    margin-top: -.1em;
    font-size: 1.5em;
  }
  .navbar nav li.contact-cta a {
    color: #90EE90;
    border: 3px solid #90EE90;
    font-weight: bold;
    border-radius: 5em;
    margin-top: -.2em;
  }
  .navbar nav li.contact-cta a:hover {
    background: #90EE90;
    color: white;
  }
  .navbar nav li.logout-cta a {
    color: blue;
    border: 3px solid blue;
    font-weight: bold;
    border-radius: 5em;
    margin-top: -.2em;
    margin-left: 1em;
  }
  .navbar nav li.logout-cta a:hover {
    background: blue;
    color: white;
  }
}

section {
  padding: 5em 5em;
}

.hero {
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  padding: 2em 3em;
  width: 20em;
  margin: 2em auto 5em auto;
  background: rgba(144, 238, 144, 0.6);
  border-radius: 1em;
}

.hero .container1 {
  place-content: space-between;
  display: block;
}

.left-col {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.left-col .subhead {
  text-align: center;
  text-transform: uppercase;
  font-weight: 1000;
  color: black;
  font-size: 3em;
}

form {
  text-align: left;
}

input {
  width: 100%;
  padding: .8em;
  margin-bottom: 1em;
  border-radius: .3em;
  border: 1px solid gray;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input[type="submit"] {
  background-color: gray;
  color: white;
  font-weight: bold;
  font-size: 1.3em;
  margin-bottom: 2em;
  border-radius: 5em;
  display: inline-block;
  padding: .8em 2em;
  width: unset;
  cursor: pointer;
}

input[type="submit"]:hover {
  background: black;
}
/*# sourceMappingURL=qm_mt_password.css.map */